<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Font Awesome Icons -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic'
        rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <!-- <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet"> -->

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="/css/creative.css" rel="stylesheet">


</head>

<body id="page-top">

    <div class="header">
        <div class="title-text">MOVIES TRAILER</div>
        <div class="title-content">
            <form autocomplete="off" action="/action_page.php">
                <div class="autocomplete" style="width:450px;">
                    <input id="myInput" type="text" name="myCountry" placeholder="Country">
                </div>
                <select>
                    <option value="drama">Drama</option>
                    <option value="html">Rated</option>
                    <option value="css">Newly Added</option>
                </select>
                <select>
                    <option value="books">Trending</option>
                    <option value="html">Rated</option>
                    <option value="css">Newly Added</option>
                </select>
                <input type="submit">
            </form>
        </div>
    </div>
    <div class="container">
        <div class="examples">
            <ul class="img-list">
                <li>
                    <div>
                        <img id="box1"
                            src="https://images-na.ssl-images-amazon.com/images/M/MV5BYWM3MTMwYTYtNTVmOC00NWU2LWJjNmMtY2YwMDM4NWM4NDhiXkEyXkFqcGdeQXVyNDc2NjEyMw@@._V1_UX182_CR0,0,182,268_AL_.jpg"
                            class="display-image" />
                    </div>
                    <a href="#" class="modal-toggle">Avengers The end game</a>
                </li>
                <li>
                    <div>
                        <img id="box1"
                            src="https://images-na.ssl-images-amazon.com/images/M/MV5BYWM3MTMwYTYtNTVmOC00NWU2LWJjNmMtY2YwMDM4NWM4NDhiXkEyXkFqcGdeQXVyNDc2NjEyMw@@._V1_UX182_CR0,0,182,268_AL_.jpg"
                            class="display-image" />
                    </div>
                    <a href="#" class="modal-toggle">Avengers The end game</a>
                </li>
                <li>
                    <div>
                        <img id="box1"
                            src="https://images-na.ssl-images-amazon.com/images/M/MV5BYWM3MTMwYTYtNTVmOC00NWU2LWJjNmMtY2YwMDM4NWM4NDhiXkEyXkFqcGdeQXVyNDc2NjEyMw@@._V1_UX182_CR0,0,182,268_AL_.jpg"
                            class="display-image" />
                    </div>
                    <a href="#" class="modal-toggle">Avengers The end game</a>
                </li>
                <li>
                    <div>
                        <img id="box1"
                            src="https://images-na.ssl-images-amazon.com/images/M/MV5BYWM3MTMwYTYtNTVmOC00NWU2LWJjNmMtY2YwMDM4NWM4NDhiXkEyXkFqcGdeQXVyNDc2NjEyMw@@._V1_UX182_CR0,0,182,268_AL_.jpg"
                            class="display-image" />
                    </div>
                    <a href="#" class="modal-toggle">Avengers The end game</a>
                </li>
                <li>
                    <div>
                        <img id="box1"
                            src="https://images-na.ssl-images-amazon.com/images/M/MV5BYWM3MTMwYTYtNTVmOC00NWU2LWJjNmMtY2YwMDM4NWM4NDhiXkEyXkFqcGdeQXVyNDc2NjEyMw@@._V1_UX182_CR0,0,182,268_AL_.jpg"
                            class="display-image" />
                    </div>
                    <a href="#" class="modal-toggle">Avengers The end game</a>
                </li>
                <li>
                    <div>
                        <img id="box1"
                            src="https://images-na.ssl-images-amazon.com/images/M/MV5BYWM3MTMwYTYtNTVmOC00NWU2LWJjNmMtY2YwMDM4NWM4NDhiXkEyXkFqcGdeQXVyNDc2NjEyMw@@._V1_UX182_CR0,0,182,268_AL_.jpg"
                            class="display-image" />
                    </div>
                    <a href="#" class="modal-toggle">Avengers The end game</a>
                </li>
                <li>
                    <div>
                        <img id="box1"
                            src="https://images-na.ssl-images-amazon.com/images/M/MV5BYWM3MTMwYTYtNTVmOC00NWU2LWJjNmMtY2YwMDM4NWM4NDhiXkEyXkFqcGdeQXVyNDc2NjEyMw@@._V1_UX182_CR0,0,182,268_AL_.jpg"
                            class="display-image" />
                    </div>
                    <a href="#" class="modal-toggle">Avengers The end game</a>
                </li>
                <li>
                    <div>
                        <img id="box1"
                            src="https://images-na.ssl-images-amazon.com/images/M/MV5BYWM3MTMwYTYtNTVmOC00NWU2LWJjNmMtY2YwMDM4NWM4NDhiXkEyXkFqcGdeQXVyNDc2NjEyMw@@._V1_UX182_CR0,0,182,268_AL_.jpg"
                            class="display-image" />
                    </div>
                    <a href="#" class="modal-toggle">Avengers The end game</a>
                </li>
                <li>
                    <div>
                        <img id="box1"
                            src="https://images-na.ssl-images-amazon.com/images/M/MV5BYWM3MTMwYTYtNTVmOC00NWU2LWJjNmMtY2YwMDM4NWM4NDhiXkEyXkFqcGdeQXVyNDc2NjEyMw@@._V1_UX182_CR0,0,182,268_AL_.jpg"
                            class="display-image" />
                    </div>
                    <a href="#" class="modal-toggle">Avengers The end game</a>
                </li>
                <li>
                    <div>
                        <img id="box1"
                            src="https://images-na.ssl-images-amazon.com/images/M/MV5BYWM3MTMwYTYtNTVmOC00NWU2LWJjNmMtY2YwMDM4NWM4NDhiXkEyXkFqcGdeQXVyNDc2NjEyMw@@._V1_UX182_CR0,0,182,268_AL_.jpg"
                            class="display-image" />
                    </div>
                    <a href="#" class="modal-toggle">Avengers The end game</a>
                </li>

            </ul>
        </div>

    </div>


    <!-- Footer -->
    <footer class=" bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">Copyright &copy; 2019</div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <!-- <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script> -->

    <!-- Custom scripts for this template -->
    <script src="/js/creative.js"></script>

    <div class="modal">
        <div class="modal-wrapper modal-transition">
            <div class="modal-header">
                <button class="modal-close" onclick="closePopup()">Close</button>
                <h2 class="modal-heading">Avengers End Game</h2>
            </div>

            <div class="modal-body">
                <div class="modal-content">
                    <div class="o-video">
                        <iframe src="https://www.youtube.com/embed/Kch8n4tcOZQ" allowfullscreen></iframe>
                    </div>

                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                            title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                            for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                            title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                            for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                            title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                            for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                            title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                            for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                            title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half"
                            for="starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

</body>

</html>